[Unit]
Description=Webhook server
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/aspects/webhook
ExecStart=/root/.local/bin/mise exec -- webhook -hooks ./hooks.json -verbose
Restart=always
RestartSec=1
PrivateTmp=true

[Install]
WantedBy=multi-user.target
