svs.nachzahlung.at {
  root * /var/www/svs-nachzahlung/
  encode zstd gzip
  try_files {path} {path}.html
  file_server {
    hide .git
  }
  handle_errors {
    rewrite * /{err.status_code}.html
    file_server
  }
}

nachzahlung.at {
    redir https://svs.nachzahlung.at
}
